  html, body{
    margin: 0;
    padding: 0;
  }
  canvas{
    display: block;
    margin-left: 470px;
    margin-top: 20px;
  }
  h1,h2,h3{
    text-align: Center;
  }

  button#nivel1{
    margin-left: 600px;
  }
  #nivel2,#nivel3{
    margin-left: 50px;
  }